/* Side Navbar bron: https://codepen.io/MijeongLee/pen/LYEXMzR */
*{
  font-family: 'Raleway', sans-serif;
}
body {
  background-color: #fefefe;
  margin: 0;   
}
html{
  scroll-behavior: smooth;
}
nav {    
  position: fixed;
  width: 100%;
  max-width: 300px;
  bottom: 0; top: 0;
  display: block;
  min-height: 300px;
  height: 100%;
  color: rgb(0, 0, 0);
  opacity: 0.8;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
}

nav .vertical-menu hr{opacity: 0.1; border-width: 0.5px;}
nav ul{width: 90%; padding-inline-start: 0; margin: 10px; height: calc(100% - 20px); }
nav .vertical-menu-logo{padding: 20px; font-size: 1.2em; position: relative}
nav .vertical-menu-logo .open-menu-btn{width: 30px; height: max-content; position: absolute; display: block; 
    right: 20px; top: 0; bottom: 0; margin: auto; cursor: pointer;}
nav .vertical-menu-logo .open-menu-btn hr{margin: 5px 0}
nav li{list-style: none; padding: 10px 10px; cursor: pointer;}
nav li:hover{ color: rgba(75, 105, 176,1); }
nav span:after{
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  left: -20px; top: 0; bottom: 0;
  margin: auto;
  border-radius: 50%;
}
.content-wrapper{
  width: calc(100% - 300px);
  height: auto;
  position: absolute;
  left: 300px;
  padding: 20px;
}
.closed-menu .content-wrapper{
  width: 100%;
  left: 50px;
}
.content-wrapper{
  transition: all 300ms;
}
.vertical-menu-wrapper .vertical-menu-logo div{transition: all 100ms;}
.closed-menu .vertical-menu-wrapper .vertical-menu-logo div{
  margin-left: -100px;
}
.vertical-menu-wrapper .vertical-menu-logo .open-menu-btn{transition: all 300ms;}
.closed-menu .vertical-menu-wrapper .vertical-menu-logo .open-menu-btn{
  left: 7px;
  right: 100%;
}

.closed-menu .vertical-menu-wrapper ul,.closed-menu .vertical-menu-wrapper hr{margin-left: -300px;}
.vertical-menu-wrapper ul, .vertical-menu-wrapper hr{transition: all 100ms;}
.content-wrapper{background: #ec644a;}
.content{
  width: 100%;
  min-height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}

a {
  color: #111;
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
a:hover {
  color: rgb(139, 139, 139);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.app {
  height: 100vh;
}

/* ------------- Sidebar ----------------*/
.sidebar {
  position: fixed;
  width: 17em;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #19222a;
  /*-webkit-transform: translateZ(0);*/
  visibility: visible;
  /*-webkit-backface-visibility: hidden;*/
}
.sidebar header {
  background-color: #e56a54;
  font-size: 22px;
  width: 100%;
  height: 5%;
  display: block;
  padding: 0.75em 1em;
}

/* ------------- Sidebar Nav ----------------*/
.sidebar-nav {
  position: absolute;
  background-color: #19222a;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  /* -------------
  Chev elements
  ----------------*/
  /* -------------
  Nav-Flyout
  ----------------*/
  /* -------------
  Hover
  ----------------*/
}
.sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
  /* -------------
  Sidebar: icons
  ----------------*/
}
.sidebar-nav ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 1.05em 1em;
  position: relative;
  display: block;
}
.sidebar-nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.sidebar-nav ul li i {
  font-size: 1.8em;
  padding-right: 0.5em;
  width: 9em;
  display: inline;
  vertical-align: middle;
}
.sidebar-nav > ul > li > a:after {
  /*content: caret-forward-outline;*/
  font-family: ionicons;
  font-size: 0.5em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 45%;
}
.sidebar-nav .nav-flyout {
  position: absolute;
  background-color: #080D11;
  z-index: 9;
  left: 2.5em;
  top: 0;
  height: 100vh;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-y: auto;
  
  top: 0;
  bottom: 0;
}


.sidebar-nav .nav-flyout a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.sidebar-nav ul > li:hover .nav-flyout {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ----------------- General start --------------------*/
h1{
 font-size: 26px; 
 margin-bottom: 50px;
 margin-top: 75px;
}
h1.opleidingen{
  margin-top: 0px;
}
h3{
  font-size: 18px;
  color:#111;
  
}
h4{
  font-size: 18px;
  color: #111;
  margin-bottom: 0;
}
p{
  font-size: 15px;
  color: #111;
  margin-top: 3px;
  margin-bottom: 20px;
  font-weight:400;
}


.target{
  transition: all 0.5s ease;
  margin: 0,10,0,0;
}
/* ----------------- General eind --------------------*/

/* ----------------- Opleidingen start--------------------*/
.opleidingen{
  color: black;
}

.opleiding1{
  color: black;
}

h7{
  color: #ec644a;
  font-size: 16px;
  font-weight: bolder;  
  
}
/*Bron: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol */

.accordion {
  background-color: rgb(255, 255, 255);
  color: #00555c;
  font-weight: 400;
  margin-top: 20px;
  cursor: pointer;
  padding: 18px;
  width: 99%;
  height: max-content;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  border-top: 1px solid rgba(0,85,92,.1);
}

.active, .accordion:hover {
  background-color: rgba(0,85,92,.1); 
  padding-left: 1.75rem;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 99%;
  
}

/* ----------------- Opleidingen eind --------------------*/





/* ----------------- Vakken start --------------------*/
.vakken{
  color: black;
}
/* ----------------- Vakken eind --------------------*/






/* ----------------- Docenten start --------------------*/
/*
Bron: https://www.w3schools.com/howto/howto_css_team.asp
*/
*, *:before, *:after {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33%;  
  margin-bottom: 16px;
  padding: 0 8px;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.card {
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 0 16px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.email{
  font-size: 13px;  
}
/* ----------------- Docenten eind --------------------*/



/* ----------------- Plattegrond start --------------------*/
/* ----------------- Plattegrond eind --------------------*/


/* ----------------- Huisregels start --------------------*/
.pdf{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* ----------------- Huisregels eind --------------------*/

/* ----------------- Contact start --------------------*/
/* ----------------- Contact eind --------------------*/