.LandingsPageText{
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    fill: white;
}

#EscapeVistaBody {
    background-color: #e56a54;
    background-image:  linear-gradient(135deg, #004f59 25%, transparent 25%), linear-gradient(225deg, #004f59 25%, transparent 25%), linear-gradient(45deg, #004f59 25%, transparent 25%), linear-gradient(315deg, #004f59 25%, #e56a54 25%);
    background-position:  40px 0, 40px 0, 0 0, 0 0;
    background-size: 80px 80px;
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
  }
#TaskHint{
    width: 100%;
    height: auto;
}
#ImageMap{
    grid-area: ImageGrid;
}
#ImageHolder{
    width: 100%;
    height: auto;
    grid-area: ImageGrid;
    border: black solid 10px;
}
#PathHolder{
    width: 100%;
    height: auto;
    grid-area: ImageGrid;
}
#GridContainer{
    display: grid; 
    grid-template-columns: 25% 50% 25%; 
    grid-template-rows: 15% 80%; 
    gap: 0px 0px; 
    grid-template-areas: 
    "TopGrid TopGrid TopGrid"
    "LeftGrid ImageGrid RightGrid"; 
    height: 100vh;
    width: 100vw;
}
#Taskholder{
    display: none;
    grid-area: RightGrid;
    background-color: white;
    border: black solid 3px;
    margin: 20px;
}
#score{
    grid-area: LeftGrid;
    background-color: white;
    font-style:Raleway;
    border: black solid 10px;
    margin: 20px;; 
}
/*Styling for the progress bar, just change the name to the correct thing*/
/*Firefox styling*/
#VistaScore::-moz-progress-bar { 
    background: #004f59; 
    transition: all 0.5s;
} 
/*Chrome/Safari styling*/
#VistaScore::-webkit-progress-value{
    background: #004f59;
    transition: all 0.5s;
}
/*Internet Explorer/Edge styling*/
#VistaScore { 
    background: #004f59; 
    transition: all 0.5s;
} 